<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Somos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     {% load static %} 
    <link rel="icon" href={% static 'noticia/images/favicon.ico' %} type="image/x-icon">
    <link rel="stylesheet" type={% static 'noticia/text/css' %} href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" href={% static 'noticia/css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'noticia/css/fonts.css' %}>
    <link rel="stylesheet" href={% static 'noticia/css/style.css' %}>
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Cargando...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top" href="https://www.templatemonster.com/website-templates/monstroid2.html" target="_blank"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="44px" data-xl-stick-up-offset="44px" data-xxl-stick-up-offset="44px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-info">
                  
                </div>
                <ul class="list-lined">
                  <li><a href="/admin">Iniciar sesión</a></li>
                  
                </ul>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                     <!--RD Navbar Toggle-->
                     <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                     <!--RD Navbar Brand-->
                     <div class="rd-navbar-brand">
                       
                       <!--Brand--><a class="brand" href="#"><img class="brand-logo-dark" src={% static 'noticia/images/logo.png' %} alt="" width="146" height="22"/><img class="brand-logo-light" src={% static 'noticia/images/logo.png' %} alt="" width="155" height="22"/></a>
                     </div>
                  </div>
                  <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                      <ul class="rd-navbar-nav">
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/">Inicio</a>
                        </li>
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="/about">Somos</a>
                        </li>
                        <li class="rd-nav-item "><a class="rd-nav-link" href="/programas">Programas</a>
                        </li>
                        <li class="rd-nav-item "><a class="rd-nav-link" href="/noticia">Noticias</a>
                        </li>
                        <li class="rd-nav-item "><a class="rd-nav-link" href="/donar">Quiero ayudar</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contacto</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="rd-navbar-bg novi-background bg-image" style="background-image: url({% static 'noticia/images/banner.jpg' %})"></div>
      </header>
      <!-- Breadcrumbs-->
      <!--section class="breadcrumbs-custom bg-image novi-background bg-primary">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="/">Inicio</a></li>
            <li class="active">Somos</li>
          </ul>
        </div>
      </section-->
      <!--aqui termina el header-->



        <!-- Our Story-->
        <section class="section section-lg bg-default">
                <div class="container">
                  <h2><span class="text-light"></span> Nuestra Historia</h2>
                  <div class="row row-30 justify-content-xl-between">
                    <div class="col-md-6 col-xl-6">
                      <p class="big" align="justify">CASA DE ASISTENCIA A NIÑOS DE LA CALLE “CANICA” Nace en el corazón de Dios y es dado en Visión a los Pastores fundadores de la Iglesia. Está destinado a proporcionar refugio a viudas y huérfanos según el mandato divino, no obstante, se han aceptado niños que no se encuentran en la orfandad debido a sus circunstancias de vida.
        </p>
                      <div class="box-shadow-2">
                        
                          <div class="unit flex-column flex-md-row">
                            <div class="unit-left">
                              
                            
                          </div>
                        </div><img class="img-responsive" src={% static 'noticia/images/Historia.jpg' %} alt="" width="569" height="169"/>
                      </div>
                    </div>
                    <div class="col-md-6 col-xl-5">
                      <ul class="list-lg">
                        <li>
                          <div class="heading-5"  >1999</div>
                          <p class="p-offset-1" align="justify">En el año 1999 se inició este proyecto como un Centro  de  Ayuda Alimenticia  a Niños de Escasos  Recursos. La  ubicación  del edificio de la  Iglesia permitió el acercamiento de niños y niñas con muchas necesidades, no sólo materiales materiales (casa, 
        
        alimentación, vestuario), sino lo más importante, niños y niñas a quienes les faltaba una atención  integral (amor, salud, educación, etc)</p>
        <p><img class="img-responsive" src={% static 'noticia/images/historia1.jpg' %} alt=""></p>
                        </li>
                        <li>
                          <div class="heading-5">2002</div>
                          <p class="p-offset-1">El  14  de Enero del  año  2002 convocan a  miembros  de la  Iglesia  para  que unidos  participen  en la elaboración de los desayunos  para los Niños y Niñas de la Calle todos  los  sábados.   Los niños y niñas que fueron  invitados solían  permanecer en La Terminal de autobuses de la ciudad de San Marcos  y en las  calles citadinas, realizando  trabajo  infantil  de  “lustrabotas”, “vendedores y vendedoras ambulantes”, o simplemente deambulando.</p>
                        </li>
                        
        
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
              <!-- Our Principles-->
              <section class="section section-lg bg-gray-100">
                <div class="container text-center text-lg-left">
                  <h2><span class="text-light"></span> Nuestros principios</h2>
                  <div class="row row-30 number-counter-2">
                    <div class="col-md-4">
                      <div class="box-numbered-left unit">
                        <div class="unit-left">
                          <div class="index-counter"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="title">Respeto</h5>
                          <div class="content">Todos somos creados a imagen y semejanza de Dios, completamente valiosos. En CANICA no hacemos distinción de personas.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box-numbered-left unit">
                        <div class="unit-left">
                          <div class="index-counter"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="title">Justicia</h5>
                          <div class="content">Amamos la Justicia, porque creemos en un Dios justo y misericordioso dador de gracia y de buenas nuevas.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box-numbered-left unit">
                        <div class="unit-left">
                          <div class="index-counter"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="title">Integridad</h5>
                          <div class="content">Promovemos el desarrollo integral del Niño, Niña y Adolescente no como un objeto sino tratándolo como un sujeto de Derechos y Obligaciones.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box-numbered-left unit">
                        <div class="unit-left">
                          <div class="index-counter"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="title">Religión</h5>
                          <div class="content">Sembramos en nuestros niños y niñas el amor de Dios quien entregó a su hijo Jesús por amor y redención de pecados, nos aferramos a la idea que CANICA es un hogar de restauración donde cada persona que entra es transformada por el amor incondicional de Dios.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box-numbered-left unit">
                        <div class="unit-left">
                          <div class="index-counter"></div>
                        </div>
                        <div class="unit-body">
                          <h5 class="title">Rectitud</h5>
                          <div class="content">Creemos que la religión pura y sin mácula, delante de nuestro Dios es ésta: visitar a los huérfanos y a las viudas en sus aflicciones, y guardarse sin mancha del mundo.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        
        
        
        <!--prueba-->
        <!-- Our team-->
        <section class="section section-md">
          <div class="container">
            <div class="row row-50 justify-content-center">
              <div class="col-md col-12 text-center">
                <div class="section-name wow fadeInRight" data-wow-delay=".2s"></div>
                <h3 class="wow fadeInLeft text-capitalize" data-wow-delay=".3s"> <span class="text-primary"> Equipo de trabajo</span></h3>
                <p class="block-675"></p>
              </div>
            </div>
            <div class="row row-50 justify-content-center">
              <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
                <div class="team-classic-wrap">
                  <div class="team-classic-img"><img src={% static 'noticia/images/personal/001.JPG' %} alt="" width="370" height="198"/>
                  </div>
                  <div class="block-320 text-center">
                    <h4 class="font-weight-bold">Hania David de Sierra</h4><span class="d-block">Fundadora del hogar</span>
                    <p align="justify">Su función es promover y apoyar espiritualmente las actividades de CANICA.</p>
                    <hr class="offset-top-40"/>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
                <div class="team-classic-wrap">
                  <div class="team-classic-img"><img src={% static 'noticia/images/personal/002.JPG' %} alt="" width="370" height="198"/>
                  </div>
                  <div class="block-320 text-center">
                    <h4 class="font-weight-bold">Pastores Sierra</h4><span class="d-block">Representantes legales del hogar</span>
                    <p align="justify">Son los encargados de representar al hogar en activiades y se encargan de la formación espiritual de equipo de CANICA.</p>
                    <hr class="offset-top-40"/>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
                <div class="team-classic-wrap">
                  <div class="team-classic-img"><img src={% static 'noticia/images/personal/003.JPG' %} alt="" width="370" height="198"/>
                  </div>
                  <div class="block-320 text-center">
                    <h4 class="font-weight-bold">Pastores Villatoro García</h4><span class="d-block">Encargados del area ministerial</span>
                    <p align="justify">La función del área ministerial es buscar la restauración y sanidad espiritual de los niños y niñas de CANICA.</p>
                    <hr class="offset-top-40"/>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
                <div class="team-classic-wrap">
                  <div class="team-classic-img"><img src={% static 'noticia/images/personal/006.JPG' %} alt="" width="370" height="198"/>
                  </div>
                  <div class="block-320 text-center">
                    <h4 class="font-weight-bold">Arlyn Aragón</h4><span class="d-block">Directora del hogar</span>
                    <p align="justify">Su función es la representación de los niños, niñas y adolescentes ante los diferentes juzgados y demás autoridades, también vela por el funcionamiento del hogar.</p>
                    <hr class="offset-top-40"/>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
                <div class="team-classic-wrap">
                  <div class="team-classic-img"><img src={% static 'noticia/images/personal/007.JPG' %} alt="" width="370" height="198"/>
                  </div>
                  <div class="block-320 text-center">
                    <h4 class="font-weight-bold">Claudia Fuentes</h4><span class="d-block">Trabajadora Social</span>
                    <p align="justify">Su función es realizar la rutina diaria de los niños, además brinda ayuda a los niños para poder introducirlos en programas de aprendizaje.</p>
                    <hr class="offset-top-40"/>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-10 wow fadeInUp" data-wow-delay=".3s">
                <div class="team-classic-wrap">
                  <div class="team-classic-img"><img src={% static 'noticia/images/personal/008.JPG' %} alt="" width="370" height="198"/>
                  </div>
                  <div class="block-320 text-center">
                    <h4 class="font-weight-bold">Mayra Santizo</h4><span class="d-block">Psicologa clínica</span>
                    <p align="justify">Su función es recibir a los niños para la estabilización emocional, además reliza terapias conductules de manera individual o grupal.</p>
                    <hr class="offset-top-40"/>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-10 wow fadeInRight" data-wow-delay=".3s">
                <div class="team-classic-wrap">
                  <div class="team-classic-img"><img src={% static 'noticia/images/secretaria.jpg' %} alt="" width="370" height="198"/>
                  </div>
                  <div class="block-320 text-center">
                    <h4 class="font-weight-bold">Susan Mejía de Sierra y Rebeca García</h4><span class="d-block">Área administrativa</span>
                    <p align="justify">Son las encargadas de la administración y contabilidad del hogar. Estan a cargo de las finanzas y de suplir las necesidades del hogar.</p>
                    <hr class="offset-top-40"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>




      <!--aqui comienza el footer-->
      <footer class="section footer-classic">
            <div class="footer-inner-1">
              <div class="container">
                <div class="row row-40">
                  <div class="col-md-5 col-lg-3">
                    <h5>Contacto</h5>
                    <ul class="contact-list font-weight-bold">
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left">
                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                          </div>
                          <div class="unit-body">Iglesia Palabra en Acción <br>San Marcos, Guatemala</div>
                        </div>
                      </li>
                      <br>
                      <br>
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left">
                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                          </div>
                          <div class="unit-body"><a href="tel:#">+502 7760-1126 <br> +502 7724-9426 </a></div>
                        </div>
                      </li>
                      <br>
                      <br>
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left">
                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-email"></div>
                          </div>
                          <div class="unit-body"> canica.sanmarcos@gmail.com </a></div>
                        </div>
                      </li>
    
    
                  </div>
                  <div class="col-md-6 col-lg-5">
                      <h5>Menú Rápido</h5>
                      <div class="row row-5 justify-content-between">
                        <div class="col-sm-6">
                          <ul class="footer-list big">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/about">Somos</a></li>
                            <li><a href="/programas">Programas</a></li>
                            <li><a href="/noticia">Noticias</a></li>
                            <li><a href="/donar">Quiero ayudar</a></li>
                            <li><a href="/contact">Contacto</a></li>
      
                          </ul>
                        </div>
      
                      </div>
                   
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <h5>Patrocinadores</h5>
                    <div class="row row-30 align-items-center text-center">
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'noticia/images/p1.jpg' %}" alt="" width="144" height="35"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'noticia/images/p2.jpg' %}" alt="" width="121" height="34"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'noticia/images/p3.jpg' %}" alt="" width="121" height="16"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'noticia/images/p4.jpg' %}" alt="" width="101" height="38"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-5-107x53.png" alt="" width="107" height="26"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-6-97x52.png" alt="" width="97" height="26"/></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-inner-2">
              <div class="container">
                  <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. Todos los derechos reservados. Desarrollado por grupo de <a href="https://www.mesoamericana.edu.gt/">  Universidad Mesoamericana</a></p>
              </div>
            </div>
          </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src={% static 'noticia/js/core.min.js' %}></script>
    <script src={% static 'noticia/js/script.js' %}></script>
  </body>
</html>
