<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Programas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     {% load static %} 
    <link rel="icon" href={% static 'noticia/images/favicon.ico' %} type="image/x-icon">
    <link rel="stylesheet" type={% static 'noticia/text/css' %} href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" href={% static 'noticia/css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'noticia/css/fonts.css' %}>
    <link rel="stylesheet" href={% static 'noticia/css/style.css' %}>
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Cargando...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top" href="https://www.templatemonster.com/website-templates/monstroid2.html" target="_blank"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="44px" data-xl-stick-up-offset="44px" data-xxl-stick-up-offset="44px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-info">
                  
                </div>
                <ul class="list-lined">
                  <li><a href="/admin">Iniciar sesión</a></li>
                  
                </ul>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                   <!--RD Navbar Toggle-->
                   <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                   <!--RD Navbar Brand-->
                   <div class="rd-navbar-brand">
                     
                     <!--Brand--><a class="brand" href="#"><img class="brand-logo-dark" src={% static 'noticia/images/logo.png' %} alt="" width="146" height="22"/><img class="brand-logo-light" src={% static 'noticia/images/logo.png' %} alt="" width="155" height="22"/></a>
                   </div>
                  </div>
                  <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                      <ul class="rd-navbar-nav">
                            <li class="rd-nav-item "><a class="rd-nav-link" href="/">Inicio</a>
                            </li>
                            <li class="rd-nav-item "><a class="rd-nav-link" href="/about">Somos</a>
                            </li>
                            <li class="rd-nav-item active"><a class="rd-nav-link" href="/programas">Programas</a>
                            </li>
                            <li class="rd-nav-item "><a class="rd-nav-link" href="/noticia">Noticias</a>
                            </li>
                            <li class="rd-nav-item "><a class="rd-nav-link" href="/donar">Quiero ayudar</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contacto</a>
                            </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!--Cambio de imagen navbar-->
        <div class="rd-navbar-bg novi-background bg-image" style="background-image: url({% static 'noticia/images/banner.jpg' %})"></div>
      </header>
      <!-- Breadcrumbs-->
      <!--section class="breadcrumbs-custom bg-image novi-background bg-primary">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="/">Inicio</a></li>
            <li class="active">Programas</li>
          </ul>
        </div>
      </section-->
      <!--aqui termina el header-->

  <!--Image Left-->
  <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-6"><img src="{% static 'noticia/images/espiritual2.jpg' %}" alt="#" width="#" height="#"/>
            </div>
            <div class="col-md-6 col-xl-4">
              <h5>Área espiritual</h5>
              <p class="big" align="justify">Brindamos una orientación bíblica con una doctrina cristiana ya que el hogar es parte de la Asociación de Iglesia Cristiana Palabra en Acción de San Marcos, los niños asisten los domingos a la iglesia, los adolescentes forman parte de grupos de alcance adecuado a su edad, van a campamentos juveniles cristianos, entre otras actividades. Esta área es esencial ya que se pretende criar al niño con valores y principios cristianos.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Image Right-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 flex-md-row-reverse justify-content-end">
            <div class="col-md-6"><img src="{% static 'noticia/images/educ1.jpg' %}" alt="" width="#" height="#"/>
            </div>
            <div class="col-md-6 col-xl-4">
              <h5>Área educativa</h5>
              <p class="big" align="justify">Los niños reciben educación escolar formal en un centro educativo privado el cual es conocido como Escuela Cristiana Palabra en Acción; la educación que reciben es integral ya que reciben educación en valores cristianos, al igual que clases de inglés, computación, música entre otros servicios. Todos los niños se encuentran becados, actualmente hay niños y niñas que cursan el nivel de preprimaria, la mayoría el nivel primario y nueve se encuentran cursando el nivel básico así mismo hay tres que van abriendo camino en el nivel de diversificado, pronto iniciaran una carrera universitaria. </p>
            </div>
          </div>
        </div>
      </section>
      <!--Image Left-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-6"><img src="{% static 'noticia/images/medica1.jpg' %}" alt="" width="544" height="171"/>
            </div>
            <div class="col-md-6 col-xl-4">
              <h5>Área médica</h5>
              <p class="big" align="justify">Los niños reciben tratamiento médico a través de un pediatra autorizado, el mismo los evalúa al momento del ingreso para brindarles la ayuda que necesiten, de igual forma los atiende las 24 horas los 7 días a la semana en casos de emergencia, el Doctor Carlos Enrique Herrera se ha distinguido por ser un excelente pediatra, reconocido por su ardua labor en pro de la niñez vulnerable.  También se cuenta con el apoyo de médicos especializados tales como; odontólogos, ginecólogos, traumatólogos, laboratoristas, entre otros.  </p>
            </div>
          </div>
        </div>
      </section>
      <!--Image Right-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 flex-md-row-reverse justify-content-end">
            <div class="col-md-6"><img src="{% static 'noticia/images/psico1.jpg' %}" alt="" width="#" height="#"/>
            </div>
            <div class="col-md-6 col-xl-4">
              <h5>Área psicológica</h5>
              <p class="big" align="justify">Los niños, niñas y adolescentes reciben el apoyo de una profesional en psicología, quien vela por su salud mental, para ello les brinda terapia psicológica para superar los daños y las secuelas de los traumas vividos, supervisa la convivencia de los niños dentro del hogar y la relación con sus familiares (si los hubiera) orienta las conductas negativas, brinda terapia individual y grupal tanto a los niños como al personal. Capacita al personal constantemente proveyendo de nuevos métodos de convivencia y disciplina. </p>
            </div>
          </div>
        </div>
      </section>  <!--Image Left-->
        <section class="section section-lg bg-default">
          <div class="container">
            <div class="row row-30">
              <div class="col-md-6"><img src="{% static 'noticia/images/social1.jpg' %}" alt="" width="#" height="#"/>
              </div>
              <div class="col-md-6 col-xl-4">
                <h5>Área social</h5>
                <p class="big" align="justify">Los niños, niñas y adolescentes tienen apoyo social mediante una trabajadora social que les brinda el apoyo  que necesitan, por ejemplo el acompañamiento cuando un niño ingresa al hogar, supervisión de visitas y apoya en la búsqueda de actividades formativas tales como la inscripción de los adolescentes a grupos de autoayuda, INTECAP, entre otras. Fomenta las capacitaciones tanto dirigidas al personal como a la población de niños. Se vela por la reunificación familiar y por la restauración e inserción social de los niños, niñas y adolescentes que han sido víctimas.  </p>
              </div>
            </div>
          </div>
        </section>
        <!--Image Right-->
        <section class="section section-lg bg-default">
          <div class="container">
            <div class="row row-30 flex-md-row-reverse justify-content-end">
              <div class="col-md-6"><img src="{% static 'noticia/images/lega1.jpg' %}" alt="" width="#" height="#"/>
              </div>
              <div class="col-md-6 col-xl-4">
                <h5>Área legal</h5>
                <p class="big" align="justify">Los niños son acompañados a sus diferentes audiencias y básicamente esta área vela por la no violación a los derechos de los niños, niñas y adolescentes está íntimamente relacionada con procuraduría general de la nación y los diferentes juzgados de la niñez tanto de San Marcos como de Malacatan y otras jurisdicciones que en ocasiones los refieren. </p>
              </div>
            </div>
          </div>
        </section>  <!--Image Left-->
          <section class="section section-lg bg-default">
            <div class="container">
              <div class="row row-30">
                <div class="col-md-6"><img src="{% static 'noticia/images/voluntario1.jpg' %}" alt="" width="#" height="#"/>
                </div>
                <div class="col-md-6 col-xl-4">
                  <h5>Área de voluntariado</h5>
                  <p class="big" align="justify">Los niños que viven en CANICA, reciben el apoyo de diferentes instituciones que brindan el apoyo de forma voluntaria en las áreas anteriormente mencionadas; se cuenta con voluntarios guatemaltecos y extranjeros que ayudan a la realización de tareas, limpieza del hogar, mantenimiento, infraestructura, cocina, atención directa supervisada a los niños, mentoreo, reforzamiento escolar, entre otros. </p>
                </div>
              </div>
            </div>
          </section>


      <!--aqui comienza el footer-->
      <footer class="section footer-classic">
            <div class="footer-inner-1">
              <div class="container">
                <div class="row row-40">
                  <div class="col-md-5 col-lg-3">
                    <h5>Contacto</h5>
                    <ul class="contact-list font-weight-bold">
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left">
                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                          </div>
                          <div class="unit-body">Iglesia Palabra en Acción <br>San Marcos, Guatemala</div>
                        </div>
                      </li>
                      <br>
                      <br>
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left">
                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                          </div>
                          <div class="unit-body"><a href="tel:#">+502 7760-1126 <br> +502 7724-9426 </a></div>
                        </div>
                      </li>
                      <br>
                      <br>
                      <li>
                        <div class="unit unit-spacing-xs">
                          <div class="unit-left">
                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-email"></div>
                          </div>
                          <div class="unit-body"> canica.sanmarcos@gmail.com </a></div>
                        </div>
                      </li>
    
    
                  </div>
                  <div class="col-md-6 col-lg-5">
                      <h5>Menú Rápido</h5>
                      <div class="row row-5 justify-content-between">
                        <div class="col-sm-6">
                          <ul class="footer-list big">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/about">Somos</a></li>
                            <li><a href="/programas">Programas</a></li>
                            <li><a href="/noticia">Noticias</a></li>
                            <li><a href="/donar">Quiero ayudar</a></li>
                            <li><a href="/contact">Contacto</a></li>
      
                          </ul>
                        </div>
      
                      </div>
                  
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <h5>Patrocinadores</h5>
                    <div class="row row-30 align-items-center text-center">
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'noticia/images/p5.jpg' %}" alt="" width="144" height="35"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'noticia/images/p6.jpg' %}" alt="" width="121" height="34"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'noticia/images/p7.jpg' %}" alt="" width="121" height="16"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'noticia/images/p8.jpg' %}" alt="" width="101" height="38"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-5-107x53.png" alt="" width="107" height="26"/></a></div>
                      <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-6-97x52.png" alt="" width="97" height="26"/></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-inner-2">
              <div class="container">
                  <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. Todos los derechos reservados. Desarrollado por grupo de <a href="https://www.mesoamericana.edu.gt/">  Universidad Mesoamericana</a></p>
              </div>
            </div>
          </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src={% static 'noticia/js/core.min.js' %}></script>
    <script src={% static 'noticia/js/script.js' %}></script>
  </body>
</html>
